.advantages {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.advantages__top {
  margin-top: 33px;
}

.advantages__slogan {
  margin: 0 0 32px 0;
  padding: 0 30px;

  @include text-size(18px, 26px);
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include text-size(21px, 26px);
  }
}

.advantages__title {
  margin: 0 0 10px 0;
  padding: 0 30px;

  @include text-size(14px, 26px);
  font-weight: normal;
  text-align: center;
  color: $light_black;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
