.advantage {
  text-align: center;
  text-transform: uppercase;
}

.advantage--blue {
  display: flex;
  flex-direction: column;
  background-color: $basic-blue;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.advantage--grey {
  padding: 0 20px;
  background-color: $basic-grey;
  color: $light_black;
}

.advantage--big {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 33% 67%;
    width: auto;
  }
}

.advantage--smal {
  @media (min-width: $tablet-width) {
    display: inline-block;
    width: 33.3%;
  }
}

.advantage--right {
  grid-template-columns: 67% 33%;
}

.advantage__top {
  margin: 70px 0 39px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.advantage__top--right {
  grid-column: 2 / 3;
}

.advantage__top--bridge {
  margin: 39px 0 33px 0;
}

.advantage__title {
  margin: 0 0 11px 0;

  @include text-size(18px, 26px);

  &--black {
    color: $basic-black;
  }
}

.advantage__number {
  display: block;
  margin: 0 0 18px 0;

  @include text-size(14px, 21px);
}

.advantage__text {
  margin: 0;

  @include text-size(14px, 21px);
}

.advantage__img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.advantage__wrapper--border {
  padding: 26px 15px 23px;
  border-bottom: 1px solid $border-grey;
}

.advantage__wrapper--left {
  grid-row: 1 / 2;
}

.advantage__features-list {
  margin: 0;
  padding: 35px 20px 35px 69px;
  background-color: $basic-white;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-column: 1 / 3;
  }
}

.advantage__features-item {
  text-align: left;

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.advantage__features-title {
  margin: 0 0 17px 0;
  padding: 0;

  @include text-size(18px, 26px);
  color: $basic-black;

  @media (min-width: $tablet-width) {
    @include text-size(21px, 26px);
  }
}

.advantage__features-text {
  margin: 0;
  padding: 0;

  @include text-size(14px, 21px);
  color: $light_black;
}
