.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 23px 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__hashtag {
  margin: 0 0 33px 0;

  @include title(21px, 26px, center, uppercase, $basic-black);
  font-weight: bold;
}
