.social {
  display: flex;
  justify-content: space-between;
  margin: 0 0 40px 0;
  padding: 0;
  width: 151px;
  list-style: none;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: $basic-blue;

  &:hover {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-active;

    .social-img {
      opacity: 0.3;
    }
  }
}
