.button {
  display: block;
  padding: 15px 32px 17px 32px;
  margin: 0 20px;

  @include text-size(21px, 26px);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: $basic-white;
  background-color: $basic-blue;
}
