.page {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1280px;
  font-family: "PT Sans", "Arial", sans-serif;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1280px;
    padding: 0 40px;
  }
}

// .page__main {
//   display: flex;
//   flex-direction: column;
// }

.page__main-index {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}
