.nav__list {
  margin: 0;
  padding: 0;
  background-color: $basic-blue;
  list-style: none;
}

.nav__item {
  text-align: center;
}

.nav__link {
  display: inline-block;
  font-weight: 700;

  @include text-size(18px, 40px);
  color: $basic-white;
  text-transform: uppercase;
  text-decoration: none;
}
